body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
}

img{
    width: 130px;
    height: 50px;
}

.nav-bar{
    background-color: #131921;
    display: flex;
    padding-bottom: 6px;
    padding-top: 6px;
    justify-content: space-between;
    align-items: center;
}

.nav-part1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-location{
    /* display: flex; */
    
    

}

.deliver,.city{
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-part2{
    display: flex;
}

.search{
    width: 600px;
    height: 40px;
    border: none;
    }

.btn-yell{
    border: none;
    background-color: orange;
    color: black;
    font-size: medium;
    font-weight: bold;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-all{
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: bold;
}

.nav-part3{
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    gap: 26px;
    margin-right: 20px;

}

.huser{
    margin: 0px;
    padding: 0px;
}

.haccount{
    margin: 0px;
    padding: 0px;
}


.hcountry{
    margin: 0px;
    padding: 0px;
}


.hreturn{
    margin: 0px;
    padding: 0px;
}


.horder{
    margin: 0px;
    padding: 0px;
}

.hcart{
    margin: 0px;
    padding: 0px;
}


.strip{
    background-color: #232f3e;
    display: flex;
    gap: 19.6px;
    padding-left: 10px;
    
}

.sm-padding{
    padding:0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.prime-show-trending{
    width: 410px;
    height: 40px;
}